.about {
    padding-top: 93px;
    padding-bottom: 115px;
}

.about h2 {
    margin-bottom: 76px;
}

.about p {
    font-size: 1.8rem;
    line-height: 1.66;
    margin-bottom: 30px;
}

.about p:first-child {
    margin-bottom: 0;
}